<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-lg-6">
				<h2>Neue Dateien hochladen ?</h2>
			</div>
			<div class="col-lg-6">
				<h2>
					Da sind <span th:text="${numberOfFilesInIncommingFolder}"></span>
					Dateien im Eingangsordner. Davon :
				</h2>
				<th:block th:if="${exsistingCounts}">
					<table class="table table-dark table-hover" ><thead>
					      <tr>
					        <th>Type</th>
					        <th>Count</th>
					      </tr>
					    </thead>
					    <tbody>
					    	<th:block th:if="${exsistingCounts}"
								th:each="typeCount : ${exsistingCounts}">
								<tr>
									<td>
										<a th:href="@{/tmpfiles(type=${typeCount.name})}">
											<span th:text="${typeCount.name}"></span>
										</a>
									</td>
									<td>
										<a th:href="@{/tmpfiles(type=${typeCount.name})}">
											<span th:text="${typeCount.count}"></span>
										</a>
									</td>
								</tr>
							</th:block>	
    					</tbody>			
					</table>
				</th:block>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 jumbotron">
				<form method="POST" enctype="multipart/form-data"
					th:action="@{/tmpfiles/upload(${_csrf.parameterName}=${_csrf.token},type='IMGS')}">
					<div class="row" style="padding-left: 30px; padding-bottom: 20px">
						<input type="file" name="file" multiple="multiple"
							th:value="upload" />
					</div>
					<div class="row" style="padding-left: 30px; padding-bottom: 20px">
						<button class="btn btn-success" type="submit" value="Upload">
							Upload <span class="glyphicon glyphicon-floppy-open"></span>
						</button>
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<div class="row jumbotron">
					<th:block th:if="${first10TmpFiles}"
						th:each="file : ${first10TmpFiles}">
						<a class="col-lg-6" th:href="@{/tmpfiles/edit(id=${file.id})}"> <th:block
								th:utext="${file.previewDisplayString}">
							</th:block>
						</a>
					</th:block>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>
