<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
	<link rel="stylesheet" href="/css/suggestion.css">
	<link rel="stylesheet" href="/css/tag.css">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<h1>Bitte Editiere noch die Angaben zu dieser Datei.</h1>
		</div>
		<!-- th:object="${tmpFile}" -->
		<form action="#" th:action="@{/tmpfiles/persist}" method="post">
			<div class="row">
				<h2 th:text="${tmpFile.name}"></h2>
				<input th:value="${tmpFile.id}" name="id" hidden="true">
			</div>
			<div id="tagarea"></div>
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-11">
					<th:block th:utext="${tmpFile.fullSourceDisplayString}">
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1" style="padding: 0 0 0 0;">
					<button type="submit" class="btn btn-success">
						Speichern <span class="glyphicon glyphicon-floppy-saved"></span>
					</button>
				</div>
			</div>
		</form>
		<script type="module" src="/js/tags/tag-area.js"></script>
	</th:block>
</body>
</html>
