<th:block th:fragment="userNaviBar">
	<div class="row">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/home}">MediaCurator</a>
				</div>
				<ul class="nav navbar-nav">
					<li th:classappend="${pageroot}=='home' ? 'active' : ''"><a th:href="@{/home}">Home <span class="glyphicon glyphicon-home"></span></a></li>
					<li th:classappend="${pageroot}=='files' ? 'active' : ''"><a th:href="@{/files/explore}">Erkunden <span class="glyphicon glyphicon-globe"></span></a></li>
					<li th:classappend="${pageroot}=='tmpfiles' ? 'active' : ''"><a th:href="@{/tmpfiles}">Daten-Eingang<span class="glyphicon glyphicon-list"></span></a></li>
					<li th:classappend="${pageroot}=='tags' ? 'active' : ''"><a th:href="@{/tags/overview}">Tags <span class="glyphicon glyphicon-tags"></span></a></li>
				</ul>
				<div class="pull-right">
					<ul class="nav navbar-nav">
						<li th:classappend="${pageroot}=='profile' ? 'active' : ''"><a th:href="@{/profile}">Profile <span class="glyphicon glyphicon-user"></span></a></li>
					</ul>
					<form class="navbar-form" th:action="@{/logout}" method="post" style="display: inline-block;">
						<button class="btn btn-success pull-right" type="submit">
							Logout <span class="glyphicon glyphicon-log-out"></span>
						</button>
					</form>
					<button id="shutdown-btn" class="navbar-form btn btn-danger pull-right"><span class="glyphicon glyphicon-off"></span></button>
				</div>
			</div>
		</nav>
	</div>
</th:block>
<th:block th:fragment="adminNavi">
	<div class="row">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/admin-home}">MediaDB</a>
				</div>
				<div class="pull-right">
					<div class="col-lg-8" style="padding-left: 0px; padding-right: 0px;">
						<form class="navbar-form" action="#" style="display: inline-block;">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="search">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-4">
						<form class="navbar-form" th:action="@{/logout}" method="post" style="display: inline-block;">
							<button class="btn btn-success pull-right" type="submit">
								Logout <span class="glyphicon glyphicon-log-out"></span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>
</th:block>