<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
</th:block>
<body>
	<th:block layout:fragment="content">
		<h1>Tag bearbeiten</h1>
		<h2 id="originalname" class="headertagstyle" th:text="${tagname}"></h2>
		<form id="submitForm" class="form-horizontal">
			<div class="row">
				<label class="col-lg-1">Name:</label>
				<div class="col-lg-10">
					<input id="tagname" name="name" class="form-control"
						th:value="${tagname}">
				</div>
			</div>
			<div class="row">
				<label class="col-lg-1">Blacklist</label>
				<th:block th:if="${!blacklist}">
					<input id="blacklist" type="checkbox" name="blacklist"
						class="col-lg-2 checkbox" value="blacklist">
				</th:block>
				<th:block th:if="${blacklist}">
					<input id="blacklist" type="checkbox" name="blacklist"
						class="col-lg-2 checkbox" value="blacklist" checked>
				</th:block>
			</div>
			<div class="row">
				<button type="submit" class="btn btn-success">
					Speichern <span class="glyphicon glyphicon-floppy-saved"></span>
				</button>
			</div>
		</form>
		<script type="module" src="/js/tags/tag-edit.js"></script>
	</th:block>
</body>
</html>


