<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<h1>Das hier ist dein Profile</h1>
		</div>
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Username:</td>
						<td th:text="${username}"></td>
						<td></td>
					</tr>
					<tr>
						<td>Mail:</td>
						<td th:text="${mailAdd}"></td>
						<td></td>
					</tr>
					<tr>
						<td>SaveSearch</td>
						<td th:text="${savesearch ? 'enabled':'disabled'}"></td>
						<td><a href="/profile/swoap-save-search"><div class="btn btn-info glyphicon glyphicon-refresh"></div></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
</body>
</html>


