<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Mediendatenbank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<th:block th:include="layout-and-fragments/standarts :: styles"></th:block>
</head>
<body>
	<div class="container">
		<div class="row text-center header-padding">
			<h1>Media Tag</h1>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h1>Das hier ist Login Bereich</h1>
			</div>
			<div class="col-lg-6">
				<h2 style="margin-left: 100px;">Bitte melde dich an</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<p>Dies soll das speichern und wiederauffinden von Mediendatein erleichtern. Datein wie Bilder, GIFs oder Videos
					können hier hochgeladen und sortiert werden. Dabei übernimt das Program einige aufgaben wie und wo die Daten
					abgelegt werden, als auch das Wiederfinden. Hierbei helfen Tags dabei die Daten zu beschreiben und auch später beim
					finden und wiederfinden. Will man ein Bild mit bestimmten Eigenschaften/Inhalten finden, so kann
					man suchen oder nach Tags filtern und sich eine Auswahl anzeigen lassen.</p>
				<p>Das Program soll es erleichtern auch Inhalter die in Gruppen zusammen gehören, aber auch mit
					unterschiedlichen Gruppen Anwendung finden zusammen zu führen ohne dabei Daten zu verdoppeln. Hierbei kann man
					tolle Ideen sammeln und für andere Projekte wieder verwenden. So wird kreatives sammeln und suchen ganz einfach.</p>
				<p>Das ganze hat eine spielerische Komponente, so das Inhalte auch geteilt werden könne. Man kann seine Daten
					mit bestimmten Privatsphäreeinstellungen versehen und sie so vertecken oder für andere zugänglich machen. So kann
					man auch slebst die Daten anderer nutzen und mit Tags anreichern und eigenen Gruppen zuordnen.</p>
				<!-- <th:block th:include="carousel :: headerCarousel"></th:block> -->
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div th:if="${param.error}">Invalider Username oder Passwort.</div>
					<div th:if="${param.logout}">Du wurdest erfolgreich ausgelogt.</div>
				</div>
				<div class="row" th:if="${numberUsers > 0}">
					<form class="form-horizontal" th:action="@{/login}" method="post">
						<div class="form-group" style="margin-right: 0; margin-left: 0">
							<label for="username" class="col-sm-4 control-label">Mail oder<br>Username
							</label>
							<div class="col-sm-6">
								<input name="username" type="text" class="form-control" style="width: 80%" id="username"
									placeholder="you@mail.de" autofocus>
							</div>
						</div>
						<div class="form-group" style="margin-right: 0; margin-left: 0">
							<label for="password" class="col-sm-4 control-label">Passwort:</label>
							<div class="col-sm-6">
								<input name="password" type="password" class="form-control" style="width: 80%" id="password">
							</div>
						</div>
						<div class="col-lg-4 col-lg-offset-4">
							<div class="form-group" style="margin-right: 0; margin-left: 0">
								<button type="submit" class="btn btn-success btn-lg btn-block">
									Login <span class="glyphicon glyphicon-log-in"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="row" th:if="${numberUsers <1}">
					<h3 style="margin-left: 100px;">
						Registrier dich <a th:href="@{/register}">hier <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
					</h3>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="layout-and-fragments/standarts :: jquery-bootstrapminjs-links"></th:block>
	<script src="/js/suggestionFunction.js"></script>
</body>
</html>