<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mediendatenbank</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block th:include="layout-and-fragments/standarts :: styles"></th:block>
</head>
<body>
	<div class="container text-center">
		<h1>Registrierung erfolgreich</h1>
		<p>Die Registrierung war erfolgreich. Du solltest eine Mail für die Bestätigung erhalten.</p>
		<span class="glyphicon glyphicon-envelope" style="font-size: 5.0em"></span>
		<h3>
			Hier geht es zurück zur <a th:href="@{login}">Startseite <span class="glyphicon glyphicon-home"></span></a>
		</h3>
	</div>
	<th:block th:include="layout-and-fragments/standarts :: jquery-bootstrapminjs-links"></th:block>
</body>
</html>
