<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<a class="btn btn-success tagstyle" th:href="@{/files/by-tag(tag=${tag})}"> <span
				class="glyphicon glyphicon-asterisk"></span> <span id="tagname" th:text="${tag}"></span>
			</a>
		</div>
		<div id="initial-images" class="row">
			<th:block th:if="${files}" th:each="file : ${files}">
				<a class="col-lg-3" th:href="@{/files/singel(uuid=${file.id})}"> <th:block
						th:utext="${file.previewDisplayString}">
					</th:block>
				</a>
			</th:block>
		</div>
		<div id="initialSize" style="display: none" th:text="${files.size()}"></div>
		<div id="pagination-row" class="row"></div>
		<script type="module" src="/js/files/file-by-tag.js"></script>
	</th:block>
</body>
</html>