<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div row="row">
			<div id="fileUUID" th:text="${file.id}" hidden="true"></div>
			<div class="col-lg-9"></div>
			<div id="tagexport" class="col-lg-1 btn btn-success glyphicon  glyphicon-tags"></div>
			<a class="col-lg-1 btn btn-primary glyphicon glyphicon-pencil" th:href="@{/files/edit(uuid=${file.id})}"></a>
			<div id="deleteButton" class="col-lg-1 btn btn-danger glyphicon glyphicon-trash"></div>
		</div>
		<div row="row">
			<th:block th:utext="${file.fullSourceDisplayString}">
			</th:block>
		</div>
		<div row="row">
			<th:block th:if="${file.tags}" th:each="tag : ${file.tags}">
				<a class="btn btn-success tagstyle" th:href="@{/files/by-tag(tag=${tag})}">
						<span class="glyphicon glyphicon-asterisk"></span>
						<span class="tagData" th:text="${tag}" th:data-tagname="${tag}"></span>
				</a>
			</th:block>
		</div>
		<script type="module" src="/js/files/file-single-view.js"></script>
		<script type="module" src="/js/tags/tag-in-ex-port.js"></script>
	</th:block>
</body>
</html>