<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
	<link rel="stylesheet" href="/css/suggestion.css">
	<link rel="stylesheet" href="/css/tag.css">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<h1>Editiere die Angaben dieser Datei.</h1>
		</div>
		<form action="#" th:action="@{/files/update}" method="post">
			<div class="row">
				<input th:value="${file.id}" name="id" hidden="true">
			<div id="tagarea"></div>
			<th:block th:if="${file.tags}">
				<div id="exsistingTags">
					<span th:each="tag : ${file.tags}" th:text="${tag}"> </span>
				</div>
			</th:block>
			</div>
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-11">
					<th:block th:utext="${file.fullSourceDisplayString}">
					</th:block>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn btn-success">
					Speichern <span class="glyphicon glyphicon-floppy-saved"></span>
				</button>
			</div>
		</form>
		<script type="module" src="/js/tags/tag-area.js"></script>
	</th:block>
</body>
</html>
