<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-and-fragments/layout.html}">
<th:block layout:fragment="additional-meta-informations">
</th:block>
<th:block layout:fragment="additional-stylesheets">
	<link rel="stylesheet" href="/css/suggestion.css">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="row autocomplete">
			<input id="tag-input-filed" type="text" placeholder="Tag"
				class="form-control" autocomplete="off">
		</div>
		<div id="tags-to-search" class="row"></div>
		<div id="initial-images" class="row">
			<h2>Unterschiedlichtes</h2>
			<div class="row">
				<th:block th:if="${random_files}" th:each="file : ${random_files}">
					<a class="col-lg-3" th:href="@{/files/singel(uuid=${file.id})}">
						<th:block th:utext="${file.previewDisplayString}">
						</th:block>
					</a>
				</th:block>
			</div>
			<h2>Die neusten Dateien</h2>
			<div class="row">
				<th:block th:if="${newest_files}" th:each="file : ${newest_files}">
					<a class="col-lg-3" th:href="@{/files/singel(uuid=${file.id})}">
						<th:block th:utext="${file.previewDisplayString}">
						</th:block>
					</a>
				</th:block>
			</div>
		</div>
		<div id="pagination-row" class="row"></div>
		<script type="module" src="/js/files/file-page.js"></script>
	</th:block>
</body>
</html>